/*** Font ***/

@font-face { font-family: Montserrat; src: url(../font/Montserrat-VariableFont_wght.ttf); }

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--text-color);
}

/*** General **/
html,body {
    height: 100%;
    margin: 0px;
}


/*** Animations ***/

.background {

    background: linear-gradient(217deg, rgba(207, 182, 42, 0.8), rgba(250, 236, 153, 0) 70.71%),
                linear-gradient(127deg, rgba(94, 151, 131, 0.8), rgba(182, 221, 182, 0) 70.71%),
                linear-gradient(336deg, rgba(53, 102, 169, 0.8), rgba(168, 219, 249, 0) 70.71%);

    height: 100%;
    width: 100%;
    background-size: 200% 200%;
    animation-name: gradient;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-attachment: fixed;
}

@keyframes gradient {

    0%  {background-position: 0% 0%;}
    25%  {background-position: 100% 0%;}
    50%   {background-position: 100% 100%;}
    75%  {background-position: 0% 100%;}
    100%  {background-position: 0% 0%;}
}

/*** navbar ***/

.navbar-grid {
    background-color: rgba(255, 255, 255, 0.25);
    height: 5%;
    position: fixed;
    width: 100%;
}

.nav-main {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 125%;
    font-weight: 600;
    float: left;
    margin: 6px;
}

.nav-sub {
    float: right;
    margin: 6px;
}


/*** title ***/
.title-div {
    font-size: 125%;
    height: 100%;
    width: 100%;
}

.title-font {
    position: relative;

    top: 50%;
    transform: translateY(-50%);

    text-align: center;

    font-size: 3vh;
    font-weight: 600;

    margin: 0;
}


/*** content ***/
@media screen and (orientation: landscape) {
    .content-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    
        align-items: center;
    
    }
}

@media screen and (orientation: portrait) {
    .content-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    
        align-items: center;
    
    }
}

.text-grid {

    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;

    align-items: center;

    height: 80vh;
    /* background-color: rgba(255, 255, 255, 0.1); */

    gap: 0px;

}

.grid-item-text {

    display: flex;
    align-items: left;
    justify-content: left;

}

.grid-text-header {

    margin: 24px;

    font-size: 200%;

    font-weight: 500;

}

.grid-text-content {

    margin: 24px;

    font-size: 150%;

    font-weight: 400;

    overflow: scroll;

    height: 100%;

}

.grid-item-picture {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

}

.grid-picture-picture {

    width: 100%;
    height: 100%;
    object-fit: cover;

}


/*** credit ***/
.credit {
    text-align: center;
}